body {
  /*background-color: #D0F5BE;*/
  /*background-color: rgb(25, 25, 25);*/
  background-color: #e7f1e0;
  padding: 0px;
  /*color: white;*/
}


.main-container {
  /*background-color: rebeccapurple;*/
  display: flex;
  height: 95vh;
  margin: 0px;
  width: 1fr;
  justify-content: center;
  column-gap: 50px;
  align-items: center;
}

.card-container, .About-Us-Card {
  display: flex;
  flex-direction: column;
  row-gap: 0px;
  column-gap: 0px;
  background-color: #fffefc;
  min-width: 250px;
  min-height: 500px;
  /*height: 90%;*/
  width: 300px;
  border-radius: 40px;
  box-shadow: 5px 5px 5px rgba(25, 25, 25, 0.2);
  padding: 0px;
  padding-bottom: 10px;
}
.About-Us-Card {
  width: 500px;
}

.card-title-container {
  display: flex;
  justify-content: center;
  padding-top: 0px;
  height: 10%;
  background-color: #7cb868;
  /*background-color: #A4907C;*/
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding-bottom: 35px;
  margin-bottom: 0px;
}
.card-title {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 28px;
  color: whitesmoke;
  font-weight: bold;
  margin-bottom: 0px;
}
.card-content-container, .about-card-content-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 0px;
}
.about-card-content-container {
  padding: 20px
}

.image-check-container {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
  /*background-color: green;*/
  flex: 1fr;
  /*background-color: purple;*/
}

.image-check-form {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  column-gap: 20px;
  margin-bottom: 0px;
  /*background-color: red;*/
}

.image-check-form label {
  margin-bottom: 15px;
}

.image-check-container input {
  margin-bottom: 10px;
}
input[type="file"] {
  display: none;
}
input[type="submit"] {
  display: none;
}
input[type="text"], input[type="password"] {
  margin-bottom: 0px;
}

.custom-upload, .custom-submit, button, .signin-label {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  padding: 10px 10px 10px 10px;
  border: none;
  border-radius: 12px;
  font-weight: bold;
  font-size: 15px;
  color: whitesmoke;
  background-color: #A4907C;
  cursor: pointer;
  opacity: 1.0;
  transition-duration: 0.25s;
  text-align: center;
  overflow: hidden;
}
.custom-submit {
  width: 50px;
}
.custom-upload:hover, .custom-submit:hover, button:hover{
  opacity: 0.75;
}
.signout-button:hover {
  background-color: indianred;
}
.signin-label:hover {
  background-color: #7cb868;
}

.custom-upload:active, .custom-submit:active, .signin-label:active, button:active {
  opacity: 1.0;
}
.signout-button {
  margin-top: 30px;
}

.response {
  height: 65px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /*background-color: purple;*/
}
.response-text, .profile-text {
  color: dimgrey;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
.profile-text {
  border: green;
  margin-top: 0px;
  margin-bottom: 10px;
  border-bottom: 10px;
}

.recycle-image {
  height: 250px;
  width: 250px;
  background-color: #f5f9ef;
  border-radius: 16%;
  margin-top: 0px;
}

.about-background {
  background-color: #f5f9ef;
  padding: 10px;
  border-radius: 30px;
}

.check-mark {
  height: 20px;
  margin-right: 3px;
}
.streak-container {
  background-color: #fff5ed;
  border-radius: 16%;
  width:  185px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.streak-image {
  width: 100px;
}
.profile-container {
  margin-top: 20px;
  padding: 10px;
  padding-top: 20px;
  background-color: #fff5ed;
  border-radius: 25px;
  width:  200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0px;

}
.list-element {
  list-style-type: none;
  margin-left: 0px;
  padding: 0px;
}
.list-div {
  margin-right: 0px;
  width: 200px;
  height: 50px;
  background-color: #f5f9ef;
  margin-bottom: 10px;
  border-radius: 15px;
  display: flex;
  padding-right: 20px;
}
.rank-text, .username-text, .score-text {
  color: dimgrey;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
.rank-text {
  color: whitesmoke;
}
.score-text {
  text-align: right;
}
.rank-bg {
  background-color: #7cb868;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 25px;
}
.name-bg {
  flex: 1;
}
.score-bg {
  flex: 1;
}
.list {
  height: 350px;
  padding: 0px 20px 0px 20px;
  overflow: auto;
}
.vanish {
  display: none;
}
.about-signin {
  margin-left: 20px;
}
.about-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  padding-top: 20px;
}
.link-text {
  color: lightgrey;
  text-align: center;
  font-size: 10px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
.link-click {
  text-decoration-line: underline;
  font-weight: bold;
  transition-duration: 0.25s;
  cursor: pointer;
}
.link-click:hover {
  color: darkgrey;
}
.home-button {
  position: absolute;
  top: 20px;
  left: 20px;
}

.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 10px;
  height: 10px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin-right: 3px;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
